body {
    background: black;
}
h1{
    color:white;
    text-align:center;
}
h2{
    color:white;
    text-align:center;
}
h3{
    color:white;
    text-align:center;
}
button {
    width:150px;
    height:75px;
    border: 5px solid grey;
    background-color:lightgrey;

}
.btn3{
    display:none;
}
.btn4{
     display:none;
}
.btn5{
     display:none;
}
.gameintro{
    display:none;
}
.secret{
    display:none;
}
.doit{
    display:none;
}
.game{
 display:none;   
}

.change{
    display:none;
}
.nogerald{
    display:none;
}

.buttons{
    display:none;
}